<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>About GeekyBlog</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Readex+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="/css/about.css"/>
</head>
<body>

  

<div class="about-5D8">

  <section >

  </section>
  <div class="frame-5-e9k">
    <a href="/" class="geekyblog-PQA">GeekyBlog</a>
    <div class="group-5-fMg">
      <div class="frame-89-CMc">
        <img class="search-48v" src="/img/search-mUa.png"/>
        <input class="search-for-articles-ymg" type="text"/>
      </div>
    </div>
    <div class="frame-6-2jx">
      <!-- <a href="/login" class="frame-6-Bcr">Login</a>
      <a href="/signup" class="frame-3-Rn6">Register</a> -->
    </div>
  </div>
  <div class="auto-group-nmhg-tQn">
    <div class="frame-90-nWA">
      <div class="frame-91-5EN">
        <a href="/feeds" class="feeds-8yL">Feeds</a>
        <a href="/top" class="top-UnJ">Top</a>
        <a href="/bookmarks" class="bookmarks-Z34">Bookmarks</a>
        <a href="/about" class="about-Hze">About </a>
        <div class="logout"></div>

      </div>
    </div>
    <div class="frame-53-aTx">
      <div class="frame-51-uWE">
        <div class="frame-26-Qxn">
          <div class="group-2-9fU">
            <div class="rectangle-4-7u8">
            </div>
            <p class="helping-people-in-tech-to-share-knowledge-easily-p2r">Helping People in Tech to Share Knowledge Easily!</p>
          </div>
          <p class="platform-where-developers-tech-lovers-and-content-creators-can-connect-to-share-about-challenges-overcome-in-solving-a-problem-or-sharing-their-journey-of-becoming-an-expert-at-what-they-do-hsL">Platform where developers, tech lovers, and content creators can connect to share about challenges, overcome in solving a problem or sharing their journey of becoming an expert at what they do.</p>
        </div>
        <!-- <p class="lorem-ipsum-6uU">Goal</p> -->
        <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-porta-nibh-venenatis-cras-sed-felis-purus-semper-eget-duis-at-tellus-at-c78">With the growing popularity of technology, the IT field is rapidly growing. When people go along with their journey, they learn as well as face lots of problems. We aim to build a proper platform where one can share their knowledge about technology. So, through our web application “Geeky Blog”, people can post their ideas and discoveries about technology, which will eventually help the new learners to find solutions and gain ideas. </p><br><br><br><br>
      </div>
      <div class="frame-55-2Ar">
        <!-- <p class="lorem-ipsum-xKQ">Lorem ipsum</p> -->
        <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-porta-nibh-venenatis-cras-sed-felis-purus-semper-eget-duis-at-tellus-at-VaE">It provides a platform for a group or individual with an interest in the field of IT. Facilitate communication and knowledge sharing among tech professionals and developers. It will improve the knowledge of developers and experts by allowing them to share their experiences via this portal.It will document the experts' experiences for future reference and help guide the new aspiring learner.</p>
      </div>
    </div>
  </div>
  <div class="frame-72-iC6">
    <p class="geekyblog-EAS">GeekyBlog</p>
    <div class="frame-71-mRG">
      <div class="frame-69-uXU">
        <p class="community-Tot">Community</p>
        <div class="frame-68-QDL">
          <div class="frame-66-Z6E">Twitter</div>
          <div class="frame-67-Ey4">Discord</div>
          <div class="frame-68-kAi">Github</div>
        </div>
      </div>
      <div class="frame-70-bx2">
        <p class="explore-YMU">Explore</p>
        <div class="frame-68-56W">
          <div class="frame-66-2Ge">Feeds</div>
          <div class="frame-67-XjC">Top Articles</div>
          <div class="frame-68-qUz">About</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="./js/about.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
</body>