<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>GeekyBlog</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Readex+Pro%3A300%2C400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="/css/home.css"/>
</head>
<body>


<div class="home-private-6wY">

  <section >

  </section>
  

  <div class="navbar-private-8dL">
    <a href="/" class="geekyblog-adk">GeekyBlog</a>
    <div class="group-4-GmU">
      <div class="frame-89-1DG">
        <img class="search-vr2" src="/img/search-mUa.png"/>
        <input class="search-for-articles-rjg" type="text"/>
      </div>
    </div>
    <div class="frame-4-jHg">
      <!-- <div class="frame-6-5MY">
        <img class="pencil-bqg" src="/img/pencil-F5p.png"/>
        <a href="/articles/new" class="write-84v">Write</a>
      </div>
      <img class="user-2AJ" src="/img/user-B7c.png"/> -->
    </div>
  </div>
  <div class="auto-group-xe8n-iJ2">
    <div class="auto-group-wwiv-Dka">
      <div class="frame-90-9PL">
        <div class="frame-91-4WJ">
          <a href="/feeds" class="feeds-MVQ">Feeds</a>
          <a href="/top" class="top-pGW">Top</a>
          <a href="/bookmarks" class="bookmarks-kR4">Bookmarks</a>
          <a href="/about" class="about-tXG">About </a>
          <div class="logout"></div>
        </div>
      </div>
      <div class="auto-group-yqzq-Pyp">
        <div class="frame-26-9CJ">
          <div class="group-2-sPC">
            <div class="rectangle-4-CRU">
            </div>
            <p class="helping-people-in-tech-to-share-knowledge-easily-v6a">Helping People in Tech to Share Knowledge Easily!</p>
          </div>
          <p class="platform-where-developers-tech-lovers-and-content-creators-can-connect-to-share-about-challenges-overcome-in-solving-a-problem-or-sharing-their-journey-of-becoming-an-expert-at-what-they-do-cEJ">Platform where developers, tech lovers, and content creators can connect to share about challenges, overcome in solving a problem or sharing their journey of becoming an expert at what they do.</p>
        </div>
        <div class="frame-23-dfC">
          <div class="frame-8-yyx">
            <p class="recent-articles-YGN">Recent Articles</p>
            <div class="frame-7-51Q">
              <a href="/feeds" class="see-all-articles-19x">See all articles</a>
              <a href="/feeds"><img class="frame-XPC" src="/img/frame.png"/></a>
            </div>
          </div>
          <div class="auto-group-ajpt-4P8">
            <div class="frame-20-1ZG">
              <div class="frame-15-8Nz">
                <div class="frame-4-TRG">
                  <div class="frame-5-PJv">
                    <div class="avatar-jNn">
                    </div>
                  </div>
                  <div class="frame-6-Py8">Ugyen</div>
                </div>
                <div class="frame-26-TCJ">
                  <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-c5C">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <p class="item-01-10-2022-7ne">01/10/2022</p>
                </div>
                <p class="molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-T5p">Molestie ac feugiat sed lectus vestibulum. Mauris sit amet massa vitae tortor. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Nisl condimentum id venenatis a condimentum.</p>
              </div>
              <div class="frame-17-hF4">
                <div class="frame-4-Rgr">
                  <div class="frame-5-kz2">
                    <div class="avatar-7pa">
                    </div>
                  </div>
                  <div class="frame-6-pyt">Tshering</div>
                </div>
                <div class="frame-26-JeA">
                  <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-4NS">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <p class="item-01-10-2022-mXk">01/10/2022</p>
                </div>
                <p class="molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-hwC">Molestie ac feugiat sed lectus vestibulum. Mauris sit amet massa vitae tortor. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Nisl condimentum id venenatis a condimentum.</p>
              </div>
            </div>
            <div class="frame-20-Jg6">
              <div class="frame-15-dyG">
                <div class="frame-4-NAA">
                  <div class="frame-5-hTL">
                    <div class="avatar-rb8">
                    </div>
                  </div>
                  <div class="frame-6-ZkS">Ugyen</div>
                </div>
                <div class="frame-26-qxr">
                  <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-cCv">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <p class="item-01-10-2022-jHY">01/10/2022</p>
                </div>
                <p class="molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-4qc">Molestie ac feugiat sed lectus vestibulum. Mauris sit amet massa vitae tortor. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Nisl condimentum id venenatis a condimentum.</p>
              </div>
              <div class="frame-17-KWe">
                <div class="frame-4-TMx">
                  <div class="frame-5-bUA">
                    <div class="avatar-MiE">
                    </div>
                  </div>
                  <div class="frame-6-UH4">Tshering</div>
                </div>
                <div class="frame-26-mmx">
                  <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-LaA">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <p class="item-01-10-2022-eqk">01/10/2022</p>
                </div>
                <p class="molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-C6a">Molestie ac feugiat sed lectus vestibulum. Mauris sit amet massa vitae tortor. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Nisl condimentum id venenatis a condimentum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-51-EJA">
      <p class="top-articles-9vv">Top Articles</p>
      <div class="review-list-6rA">
        <div class="review--raS">
          <div class="frame-4-yQA">
            <div class="frame-5-WQ6">
              <div class="avatar-rTx">
              </div>
            </div>
            <div class="frame-6-Ybg">Ugyen</div>
          </div>
          <div class="frame-92-pZC">
            <div class="frame-27-yS6">
              <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-jAN">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <p class="item-01-10-2022-F8i">01/10/2022</p>
            </div>
          </div>
          <p class="item-01-10-2022-yqQ">01/10/2022</p>
          <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-K8a">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius nisi et mauris iaculis, sed elementum magna suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
        </div>
        <div class="review--LpN">
          <div class="frame-4-U9t">
            <div class="frame-5-19p">
              <div class="avatar-YvS">
              </div>
            </div>
            <div class="frame-6-3cJ">Ugyen</div>
          </div>
          <div class="frame-92-L5c">
            <div class="frame-27-sLS">
              <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-R74">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <p class="item-01-10-2022-YBg">01/10/2022</p>
            </div>
          </div>
          <p class="item-01-10-2022-sjk">01/10/2022</p>
          <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-Qza">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius nisi et mauris iaculis, sed elementum magna suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
        </div>
      </div>
      <div class="review-list-ffc">
        <div class="review--poQ">
          <div class="frame-4-x8v">
            <div class="frame-5-tHU">
              <div class="avatar-Rwc">
              </div>
            </div>
            <div class="frame-6-LYn">Username</div>
          </div>
          <div class="frame-92-RKL">
            <div class="frame-27-yLr">
              <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-hGr">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <p class="item-01-10-2022-DFC">01/10/2022</p>
            </div>
          </div>
          <p class="item-01-10-2022-YYN">01/10/2022</p>
          <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-GzA">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius nisi et mauris iaculis, sed elementum magna suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
        </div>
        <div class="review--vJ2">
          <div class="frame-4-FbC">
            <div class="frame-5-b9G">
              <div class="avatar-wyp">
              </div>
            </div>
            <div class="frame-6-FzW">Username</div>
          </div>
          <div class="frame-92-9a6">
            <div class="frame-27-718">
              <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fHY">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <p class="item-01-10-2022-nd4">01/10/2022</p>
            </div>
          </div>
          <p class="item-01-10-2022-XKk">01/10/2022</p>
          <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-evA">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius nisi et mauris iaculis, sed elementum magna suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
        </div>
      </div>
    </div>
    <div class="frame-72-Hy8">
      <p class="geekyblog-2vi">GeekyBlog</p>
      <div class="frame-71-mtJ">
        <div class="frame-69-Y8N">
          <p class="community-hGA">Community</p>
          <div class="frame-68-dfc">
            <div class="frame-66-Bh8">Twitter</div>
            <div class="frame-67-UgE">Discord</div>
            <div class="frame-68-PYJ">Github</div>
          </div>
        </div>
        <div class="frame-70-tjx">
          <p class="explore-THG">Explore</p>
          <div class="frame-68-Pwc">
            <div class="frame-66-xE2">Feeds</div>
            <div class="frame-67-Fyp">Top Articles</div>
            <div class="frame-68-mxA">About</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="./js/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>

</body>