<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>GeekyBlog</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Readex+Pro%3A300%2C400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="/css/homfirst.css"/>
</head>
<body>

  

<div class="home-public-QMQ">
  <section >

  </section>
  

  <div class="component-2-cyG">
    <div class="frame-5-nen">
      <a href="/" class="geekyblog-sRL">GeekyBlog</a>
      <div class="group-5-xxa">
        <div class="frame-89-VSi">
          <a href="#"><img class="search-zeN" src="/img/search-mUa.png"/></a>
          <input class="search-for-articles-XeJ" type="text"/>
        </div>
      </div>
      <div class="frame-4-9xW">
        <a  href="/login" class="frame-6-78e">Login</a>
        <a  href="/signup" class="frame-3-Ln6">Register</a>
      </div>
    </div>
    <div class="auto-group-xmwv-RYe">
      <div class="frame-90-Y7U">
        <div class="frame-91-DDc">
          <a href="/feeds" class="feeds-u6S">Feeds</a>
          <a href="/top" class="top-RqU">Top</a>
          <a href="/bookmarks" class="bookmarks-Xdc">Bookmarks</a>
          <a href="/about" class="about-psc">About </a>
          <div class="logout"></div>

        </div>
      </div>
      <div class="auto-group-zfly-Vyk">
        <div class="frame-26-2yg">
          <div class="group-2-kug">
            <div class="rectangle-4-6Tk">
            </div>
            <p class="helping-people-in-tech-to-share-knowledge-easily-Bk6">Helping People in Tech to Share Knowledge Easily!</p>
          </div>
          <p class="platform-where-developers-tech-lovers-and-content-creators-can-connect-to-share-about-challenges-overcome-in-solving-a-problem-or-sharing-their-journey-of-becoming-an-expert-at-what-they-do-fvA">Platform where developers, tech lovers, and content creators can connect to share about challenges, overcome in solving a problem or sharing their journey of becoming an expert at what they do.</p>
        </div>
        <div class="frame-23-i7k">
          <div class="frame-8-sFY">
            <p class="recent-articles-C2v">Recent Articles</p>
            <div class="frame-7-X5C">
              <a href="/feeds" class="see-all-articles-rNN">See all articles</a>
              <a href="/feeds"><img class="frame-9cN" src="/img/frame.png"/></a>
            </div>
          </div>
          <div class="auto-group-ultd-soG">
            <div class="frame-20-E82">
              <div class="frame-15-YuQ">
                <div class="frame-4-sRt">
                  <div class="frame-5-BxN">
                    <div class="avatar-XFY">
                    </div>
                  </div>
                  <div class="frame-6-bWJ">Username</div>
                </div>
                <div class="frame-26-rh8">
                  <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-cRQ">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <p class="item-01-10-2022-hhk">01/10/2022</p>
                </div>
                <p class="molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-2V8">Molestie ac feugiat sed lectus vestibulum. Mauris sit amet massa vitae tortor. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Nisl condimentum id venenatis a condimentum.</p>
              </div>
              <div class="frame-17-4Rp">
                <div class="frame-4-nsc">
                  <div class="frame-5-Kce">
                    <div class="avatar-5Lv">
                    </div>
                  </div>
                  <div class="frame-6-BPx">Username</div>
                </div>
                <div class="frame-26-s1t">
                  <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-php">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <p class="item-01-10-2022-Xs8">01/10/2022</p>
                </div>
                <p class="molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-ewk">Molestie ac feugiat sed lectus vestibulum. Mauris sit amet massa vitae tortor. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Nisl condimentum id venenatis a condimentum.</p>
              </div>
            </div>
            <div class="frame-20-634">
              <div class="frame-15-1fp">
                <div class="frame-4-X8N">
                  <div class="frame-5-SFL">
                    <div class="avatar-acS">
                    </div>
                  </div>
                  <div class="frame-6-Uhp">Username</div>
                </div>
                <div class="frame-26-w5c">
                  <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-VN2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <p class="item-01-10-2022-PyC">01/10/2022</p>
                </div>
                <p class="molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-L7k">Molestie ac feugiat sed lectus vestibulum. Mauris sit amet massa vitae tortor. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Nisl condimentum id venenatis a condimentum.</p>
              </div>
              <div class="frame-17-B8N">
                <div class="frame-4-7Gv">
                  <div class="frame-5-F8E">
                    <div class="avatar-PkE">
                    </div>
                  </div>
                  <div class="frame-6-W4A">Username</div>
                </div>
                <div class="frame-26-AuQ">
                  <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-8LS">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <p class="item-01-10-2022-EPU">01/10/2022</p>
                </div>
                <p class="molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-Myt">Molestie ac feugiat sed lectus vestibulum. Mauris sit amet massa vitae tortor. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Nisl condimentum id venenatis a condimentum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-53-BT8">
      <div class="group-14-hAa">
        <p class="top-articles-eLi">Top Articles</p>
        <div class="review-list-BbY">
          <div class="review--92a">
            <div class="frame-4-fFp">
              <div class="frame-5-bQN">
                <div class="avatar-YKc">
                </div>
              </div>
              <div class="frame-6-r5Q">Username</div>
            </div>
            <div class="frame-92-7X8">
              <div class="frame-27-3va">
                <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-CYa">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p class="item-01-10-2022-iWv">01/10/2022</p>
              </div>
            </div>
            <p class="item-01-10-2022-TDc">01/10/2022</p>
            <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-nWn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius nisi et mauris iaculis, sed elementum magna suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
          </div>
          <div class="review--cVp">
            <div class="frame-4-YPU">
              <div class="frame-5-sRk">
                <div class="avatar-RTG">
                </div>
              </div>
              <div class="frame-6-WzW">Username</div>
            </div>
            <div class="frame-92-CcS">
              <div class="frame-27-x5p">
                <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-W7L">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p class="item-01-10-2022-pNv">01/10/2022</p>
              </div>
            </div>
            <p class="item-01-10-2022-MNr">01/10/2022</p>
            <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-tdg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius nisi et mauris iaculis, sed elementum magna suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
          </div>
        </div>
        <div class="review-list-LEn">
          <div class="review--5iA">
            <div class="frame-4-Cnn">
              <div class="frame-5-8gS">
                <div class="avatar-se2">
                </div>
              </div>
              <div class="frame-6-aoL">Username</div>
            </div>
            <div class="frame-92-GAN">
              <div class="frame-27-CZp">
                <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-MBp">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p class="item-01-10-2022-SDG">01/10/2022</p>
              </div>
            </div>
            <p class="item-01-10-2022-yDC">01/10/2022</p>
            <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-Hza">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius nisi et mauris iaculis, sed elementum magna suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
          </div>
          <div class="review--KwG">
            <div class="frame-4-Fpv">
              <div class="frame-5-acJ">
                <div class="avatar-882">
                </div>
              </div>
              <div class="frame-6-S8i">Username</div>
            </div>
            <div class="frame-92-6DG">
              <div class="frame-27-qwY">
                <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-o7g">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p class="item-01-10-2022-K62">01/10/2022</p>
              </div>
            </div>
            <p class="item-01-10-2022-3Xp">01/10/2022</p>
            <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-BP8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius nisi et mauris iaculis, sed elementum magna suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-72-y46">
      <p class="geekyblog-tRx">GeekyBlog</p>
      <div class="frame-71-RRt">
        <div class="frame-69-yyC">
          <p class="community-Xjp">Community</p>
          <div class="frame-68-U9G">
            <div class="frame-66-1ut">Twitter</div>
            <div class="frame-67-K9t">Discord</div>
            <div class="frame-68-RTp">Github</div>
          </div>
        </div>
        <div class="frame-70-Kp6">
          <p class="explore-t6W">Explore</p>
          <div class="frame-68-pkr">
            <div class="frame-66-AZp">Feeds</div>
            <div class="frame-67-Gcr">Top Articles</div>
            <div class="frame-68-Ay8">About</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="./js/dashboard.js"></script>

</body>